# Environments
venv/
env/
.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest
.pytest_cache/

# IDEs
.idea/
.vscode/

# SQLite databases (if used in the future)
*.sqlite3
*.db
